body {
    background: url(../images/ruvim-noga-pazM9TQJ2Ck-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* change the background color */
.navbar-custom {
    /* background-color: rgb(45, 55, 54); */
    background-color: rgb(0, 0, 0, 0.5);
    text-align:justify;
    font-size:2vw;
    font-family: "Jomolhari";
    margin-bottom: 40px;
}

.navbar-custom ul {
    width:100%;
    justify-content: space-around;
}

.navbar-custom li, .navbar-custom li a {
    color: rgb(148, 75, 166);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(148, 75, 166);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fff;
}



img.logo {
    max-width: 100%;
}

img.small-logo {
    width: 50%;
}

.leading-heading {
    color:#fff;
    font-size: 55px;
    line-height:130%;
    font-family: Afacad;
}


.nav-bar {
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

.nav {
    padding: 15px;
    text-align:center;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .footer.home {
    position:absolute;
    bottom:0;
  }

.footer {

    text-align:center;
    width:100%;
}

.social-media {
    padding-bottom:15px;
    margin-top:50px;
}

.footer a {
    margin-left:50px;
}

.footer a:first-child {
    margin-right: 0;
}

.home .date {
    text-align:right;
    color:#fff;
}

.image-wrapper {
    position:relative;
}

.image {
    max-width:100%;
}

.home .date h2 {
    font-size:4vw;
}

.home .address {
    color:rgb(148, 75, 166);

}

.home .address span {
    background-color: rgb(44, 59, 57);
    line-height:130%;

}

.footer-nav {
    padding:40px 0 20px 0;
    background-color: rgb(255, 255, 255, 0.1);
}

.content {
    color:#fff;
}

.content h3 {
    color:rgb(148, 75, 166)
}

.content .center-image {
    text-align:center
}

.footer-nav ul {
    list-style:none;
    line-height:200%;
}

.footer-nav ul li a {
    text-decoration: none;
    color:rgb(44, 59, 57);
    font-family: "Jomolhari";
}

.footer ul li.active a {
    color: #000;
}

@media screen and (max-width: 990px) 
{
  .nav-link {
    margin-left: 20px;
    font-size:5vw;
  }
  img.small-logo {
    max-width: 100%;
  }
  .leading-heading {
    font-size: 27px;
  }
}
