body {
    background-color: #34422f;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* change the background color */
.navbar-custom {
    background-color: #a24695;
    font-family: "Jomolhari";
}

.dropdown {
   list-style: none;
   display: inline-block;
 }
 
 
 .dropdown-menu {
   margin: 0;
   border: none;
   background-color: #a24695;
 }

.nav-item {
  font-size: 1rem;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-custom li, .navbar-custom li a {
    color: #000;
}

.sponsors {
  color: #34422f;
  background-color: #fff;
}

img {
    max-width:100%;
}
img.logo {
    max-width: 100%;
}

img.small-logo {
    width: 50%;
}

.leading-heading {
    color:#fff;
    font-size: 55px;
    line-height:130%;
    font-family: Afacad;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .footer.home {
    position:absolute;
    bottom:0;
  }

.footer {

    width:100%;
}

.image-wrapper {
    position:relative;
}

.image {
    max-width:100%;
}

.home .date h2 {
    font-size:4vw;
}

.home .address {
    color:rgb(148, 75, 166);

}

.home .address span {
    background-color: rgb(44, 59, 57);
    line-height:130%;

}

.content {
    color:#fff;
}

p.content  {
    font-size: 1.2rem;
}

.content h3 {
    color:rgb(148, 75, 166)
}

.content .center-image {
    text-align:center
}

.content img {
  background-color: #a24695;
}

.footer-nav ul li a {
    text-decoration: none;
    color:rgb(44, 59, 57);
    font-family: "Jomolhari";
}



